{% extends 'base.html' %} {% block title %} History {% endblock %} {% block
content %}
<form method="POST">
    <div class="container">
        <br />
        <h1>Your Portfolio</h1>
        <div class="input-group">
            <div class="form-outline">
                <input
                    type="search"
                    name="search"
                    id="form1"
                    class="form-control"
                />
                <label class="form-label" for="form1">Search for stocks</label>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <h1>History</h1>
    <text> Here i want to post some information about a stock History</text>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>

                    <th>Price</th>
                    <th>Total</th>
                    <th>Tag</th>
                </tr>
            </thead>

            <tbody>
                {% for stock in stock_history %}
                <tr>
                    <td>{{stock}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
